
body{

  font-family: Montserrat-Light,sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.42857143;
  font-size: 1rem;
	color:#626262;
  text-align: center;
}
a{
  text-decoration:none !important;
	color:#626262;
}
.Font-Name
{
  font-family: 'Amaranth', sans-serif;
  color: #626262;
  text-align: center;
}
.container
{
  width: 80%;
  padding: 20px 20px;
}


#main-header
{
  background-color: #ffffff;
  border-image: url(../Img/lace-bottom.png) 30% round;
  border-image-outset:0px 0px 10px 0px;
}
#logo-Img img
{
  height:125px;
  width:125px;
}

.main-Div
{
  background:url(../Img/background.jpg) repeat;
  padding:20px 20px;

}

.btn-wrap
{
  padding:5px;
  margin:5px;
  text-align: center;
}
.btn-herichy
{
  color:#fff;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  font-family: Montserrat-Bold;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border-radius: 0;
  }
  .btn-herichy>span {
      display: block;
      position: relative;
      padding: 10px 5px;
      background-color: #f6848d;
    }
  .btn-herichy>span:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -20px;
      width: 0;
      height: 0;
      margin-top: -40px;
      border-width: 40px 0 40px 20px;
      border-style: solid;
      border-color: #f6848d;
      border-left-color: transparent;
  }
  .btn-herichy>span:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 0;
    height: 0;
    margin-top: -40px;
    border-width: 40px 20px 40px 0;
    border-style: solid;
    border-color: #f6848d;
    border-right-color: transparent;
}
.btn-color-Blue>span
{
  background-color:#a4ebe4;
}
.btn-color-Blue>span:after
{
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 0;
  height: 0;
  margin-top: -40px;
  border-width: 40px 20px 40px 0;
  border-style: solid;
  border-color: #a4ebe4;
  border-right-color: transparent;

}
.btn-color-Blue>span:before
{  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -20px;
  width: 0;
  height: 0;
  margin-top: -40px;
  border-width: 40px 0 40px 20px;
  border-style: solid;
  border-color: #a4ebe4;
  border-left-color: transparent;

}


.btn-color-Yellow>span
{
  background-color: #ffd98a;
}
.btn-color-Yellow>span:after
{
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 0;
  height: 0;
  margin-top: -40px;
  border-width: 40px 20px 40px 0;
  border-style: solid;
  border-color: #ffd98a;
  border-right-color: transparent;

}
.btn-color-Yellow>span:before
{
  content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    margin-top: -40px;
    border-width: 40px 0 40px 20px;
    border-style: solid;
    border-color: #ffd98a;
    border-left-color: transparent;

}
.btn-herichy:hover
{
  color: #fff;
}

.Option-Img
{
  padding: 10px 10px;
}
#order-giftcard-img
{
  height: 150px;
}
figcaption
{

  letter-spacing: .15px;
  color: #a1a1a1;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Amaranth', sans-serif;
}

.MyNavbar li a
{
  padding:0 5px;
  margin: 0 5px;
  color: #626262;

}
.MyNavbar li a:hover
{
  color: #ffa4ab;
}
.In-Store-Arrow
{
  margin: 60px 0 0;
    padding-bottom: 300px;
    background: url(../Img/table.png) no-repeat 50% 100%;
}

.In-Store-Arrow a
{
  display: inline-block;
    padding-right: 40px;
    font-family: 'Montserrat-Regular',sans-serif;
    color: #f6848d;
    background: url(../Img/arrow-right.png) no-repeat 100% 50%;
}
.InStore-Arrow-data h3
{
  text-align: left;
}
.InStore-Arrow-data
{
  padding-left:400px;
  text-align:left;
  float: left;
  margin : 10px;
}
